.logo-container {
  padding: 32px;
  ion-img {
    margin: 0 auto;
    height: 240px;
  }
}

.center {
  text-align: center;
}

.form-errors {
  font-size: 12px;
}

.submit-button {
  margin-top: 16px;
  padding: 0 16px;
}

ion-footer {
  text-align: center;
}
